<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon
          src="../../assets/images/menu.svg"
        ></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Product</ion-title>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon
          src="../../assets/images/notification.svg"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="product_details">
    <div class="product_details_img_wrap">
      <ion-img src="../../assets/images/gift-image-large.png"></ion-img>
    </div>
    <h1 class="product_title">Water Thinnable cement primer</h1>
    <div class="product_content">
      <p>Mayur water based cement primer (WBCP) series is your go-to option for application on interior and exterior walls, brick work and asbestos.</p>
      <p><strong>Quantity:</strong> 1</p>
      <p><strong>Points:</strong> 870</p>
    </div>
  </div>
</ion-content>

<ion-footer collapse="fade" class="ion-no-border">
  <ion-button expand="block">Get it Now</ion-button>
</ion-footer>
