<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon
          src="../../assets/images/menu.svg"
        ></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>History</ion-title>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon
          src="../../assets/images/notification.svg"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="history">
    <ion-list>
      <h3>12th December, 2022</h3>
      <ion-item lines="none" class="history_item history_credit">
        <ion-avatar class="history_item_icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 5V19" stroke="#5965B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M5 12H19" stroke="#5965B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </ion-avatar>
        <ion-label class="history_item_middle">
          <h4>12th January, 2022</h4>
          <p>Total 10,000 points earn</p>
        </ion-label>
        <ion-button>
          + 12,000
          <img src="../../assets/images/smallcoin.png" alt="">
        </ion-button>
      </ion-item>
      <ion-item lines="none" class="history_item history_debit">
        <ion-avatar class="history_item_icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 12H19" stroke="#EA1C2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </ion-avatar>
        <ion-label class="history_item_middle">
          <h4>12th January, 2022</h4>
          <p>You purchase Sony SLTA58KMD</p>
        </ion-label>
        <ion-button>
          - 10,000
          <img src="../../assets/images/smallcoin.png" alt="">
        </ion-button>
      </ion-item>
      <ion-item lines="none" class="history_item history_debit">
        <ion-avatar class="history_item_icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 12H19" stroke="#EA1C2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </ion-avatar>
        <ion-label class="history_item_middle">
          <h4>12th January, 2022</h4>
          <p>You purchase Sony SLTA58KMD</p>
        </ion-label>
        <ion-button>
          - 10,000
          <img src="../../assets/images/smallcoin.png" alt="">
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-list>
      <h3>10th December, 2022</h3>
      <ion-item lines="none" class="history_item history_credit">
        <ion-avatar class="history_item_icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 5V19" stroke="#5965B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M5 12H19" stroke="#5965B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </ion-avatar>
        <ion-label class="history_item_middle">
          <h4>10th January, 2022</h4>
          <p>Total 10,000 points earn</p>
        </ion-label>
        <ion-button>
          + 12,000
          <img src="../../assets/images/smallcoin.png" alt="">
        </ion-button>
      </ion-item>
      <ion-item lines="none" class="history_item history_debit">
        <ion-avatar class="history_item_icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 12H19" stroke="#EA1C2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </ion-avatar>
        <ion-label class="history_item_middle">
          <h4>10th January, 2022</h4>
          <p>You purchase Sony SLTA58KMD</p>
        </ion-label>
        <ion-button>
          - 10,000
          <img src="../../assets/images/smallcoin.png" alt="">
        </ion-button>
      </ion-item>
      <ion-item lines="none" class="history_item history_debit">
        <ion-avatar class="history_item_icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 12H19" stroke="#EA1C2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </ion-avatar>
        <ion-label class="history_item_middle">
          <h4>10th January, 2022</h4>
          <p>You purchase Sony SLTA58KMD</p>
        </ion-label>
        <ion-button>
          - 10,000
          <img src="../../assets/images/smallcoin.png" alt="">
        </ion-button>
      </ion-item>
      <ion-item lines="none" class="history_item history_credit">
        <ion-avatar class="history_item_icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 5V19" stroke="#5965B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M5 12H19" stroke="#5965B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </ion-avatar>
        <ion-label class="history_item_middle">
          <h4>10th January, 2022</h4>
          <p>Total 10,000 points earn</p>
        </ion-label>
        <ion-button>
          + 12,000
          <img src="../../assets/images/smallcoin.png" alt="">
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
