<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Enter your register mobile no.</p>
  <form>
    <ion-item lines="none">
      <ion-input placeholder="Enter Mobile No." type="text"></ion-input>
    </ion-item>
    <ion-button expand="block" routerLink="/home">Submit</ion-button>
    <h5>Go back to <span routerLink="/login">Login</span></h5>
  </form>
</ion-content>


