<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon
          src="../../assets/images/menu.svg"
        ></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Reward</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="reward_coupon">
    <div class="reward_coupon_img">
      <img src="../../assets/images/bigcoin.png" alt="">
    </div>
    <div class="reward_coupon_text">
      <h3>{{totalPoints}}</h3>
      <h5>Reward Points Available</h5>
      <ion-button routerLink="/gift">
        <ion-icon
        src="../../assets/images/gift.svg"
        ></ion-icon>
        Redeem points
      </ion-button>
    </div>
  </div>

  <div class="history">
    <ion-list>
      
      <ion-item lines="none" class="history_item history_credit" *ngFor="let rewards of rewardsList">
        <ion-avatar class="history_item_icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 5V19" stroke="#5965B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M5 12H19" stroke="#5965B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </ion-avatar>
        <ion-label class="history_item_middle">
          <h4>{{rewards.date}}</h4>
          <p>{{rewards.title}}</p>
          <p>{{rewards.desc}}</p>
        </ion-label>
        <ion-button>
          + {{rewards.amount}}
          <img src="../../assets/images/smallcoin.png" alt="">
        </ion-button>
      </ion-item>
      
      <!-- <ion-item lines="none" class="history_item history_credit">
        <ion-avatar class="history_item_icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 5V19" stroke="#5965B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M5 12H19" stroke="#5965B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </ion-avatar>
        <ion-label class="history_item_middle">
          <h4>12th January, 2022</h4>
          <p>Total 10,000 points earn</p>
        </ion-label>
        <ion-button>
          + 12,000
          <img src="../../assets/images/smallcoin.png" alt="">
        </ion-button>
      </ion-item> -->
    </ion-list>
  </div>
</ion-content>
